allennlp==2.9.3
allennlp_models==2.9.3
apex==0.9.10dev
lxml==4.9.0
nltk
numpy
pandas
scipy
setuptools==61.2.0
spacy
tqdm
transformers==4.14.0
booknlp==1.0.7
cached-path==1.1.2
sklearn
gdown
flask==2.1.3
